[user]
	name = Nils Schönwald
	email = nils@schoen.world

[alias]
  # Show verbose output about tags, branches or remotes
  tags = tag -l
  branches = branch -a
  remotes = remote -v


  # Amend the currently staged files to the latest commit
  amend = commit --amend --reuse-message=HEAD

  # Remove the old tag with this name and tag the latest commit with it.
  retag = "!r() { git tag -d $1 && git push origin :refs/tags/$1 && git tag $1; }; r"

  compare = "!f() { git log --oneline $1..$2;  }; f"

  v = describe master --abbrev=0 --tags

  # list aliases
  la = "!git config -l | grep alias | cut -c 7-"

[apply]
  # Detect whitespace errors when applying a patch
  whitespace = fix

[help]
  autocorrect = 1

[core]
  editor = vim

  # Use custom `.gitignore` and `.gitattributes`
	excludesfile = /Users/n/.gitignore
  attributesfile = ~/.gitattributes

  # Treat spaces before tabs and all kinds of trailing whitespace as an error
  # [default] space-before-tab: looks for spaces before tabs at the beginning of a line
  # [default] trailing-space: looks for spaces at the end of a line
  whitespace = space-before-tab,-indent-with-non-tab,trailing-space

  # Make `git rebase` safer on OS X
  # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
  trustctime = false

  # Prevent showing files whose names contain non-ASCII symbols as unversioned.
  # http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
  precomposeunicode = false
	pager = diff-so-fancy | less --tabs=4 -RFX

[merge]
  # Include summaries of merged commits in newly created merge commit messages
  log = true
	tool = p4mergetool

[mergetool]
  keepBackup = true

[mergetool "p4mergetool"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $PWD/$BASE $PWD/$REMOTE $PWD/$LOCAL $PWD/$MERGED
	trustExitCode = false

[diff]
  # Detect copies as well as renames
  renames = copies
	tool = p4mergetool

[diff "bin"]
  # Use `hexdump` to diff binary files
  textconv = hexdump -v -C

[difftool "p4mergetool"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $LOCAL $REMOTE

[push]
  # Use the Git 1.x.x default to avoid errors on machines with old Git
  # installations. To use `simple` instead, add this to your `~/.extra` file:
  # `git config --global push.default simple`. See http://git.io/mMah-w.
  default = current
  # Make `git push` push relevant annotated tags when pushing branches out.
	followTags = true

[pull]
  rebase = false

[clean]
  requireForce = false

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[fsck]
	zeroPaddedFilemode = ignore

[interactive]
  diffFilter = delta --plus-color="#195019" --minus-color="#601919" --color-only

[color]
  # Use colors in Git commands that are capable of colored output when
  # outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = true

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
	meta = 227
	frag = magenta bold
	old = red bold
	new = green bold
	commit = 227 bold
	whitespace = red reverse

[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
